node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
auxiliary.db-wal
pocketbase_0.34.2_windows_amd64/pb_data/auxiliary.db-wal
